# Database Configuration
DB_HOST=localhost
DB_NAME=training_db
DB_USER=root
DB_PASS=

# Paystack Configuration
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# Application Configuration
APP_NAME="Jeilo CDW"
APP_URL=http://localhost/training
APP_ENV=production
APP_DEBUG=false

# Mail Configuration
MAIL_FROM=
MAIL_FROM_NAME="Jeilo CDW"

# Currency
CURRENCY=NGN
CURRENCY_SYMBOL="₦"
